# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Creado por https://www.toptal.com/developers/gitignore/api/angular
# Edite en https://www.toptal.com/developers/gitignore?templates=angular

### Angular ###
## Angular ##
# salida compilada
dist /
tmp /
aplicación / ** / *. js
aplicación / ** / *. js.map

# dependencias
módulos_nodo /
bower_components /

# IDE y editores
.ocurrencia/

# misceláneo
.sass-cache /
connect.lock /
cobertura/
libpeerconnection.log /
npm-debug.log
testem.log
mecanografia /

# e2e
e2e / *. js
e2e / *. mapa

# Archivos de sistema
.DS_Store /

# Fin de https://www.toptal.com/developers/gitignore/api/angular